.App {
  text-align: center;
}
.headContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30%;
}
label {
  font-size: 50px;
  cursor: pointer;
  margin: 3% 3%;
}
nav {
  text-align: right;
  height: 10%;
  line-height: 10%;
}
.menu {
  background-image: linear-gradient(
    to bottom right,
    rgba(100, 52, 7, 0.832),
    rgba(146, 89, 35, 0.821)
  );

  position: fixed;
  left: -30%;
  top: 0;
  width: 30%;
  height: 100vh;
  text-align: center;
  transition: 0.3s ease-in-out;
  z-index: 10;
}
.menu a {
  font-size: 2rem;
  text-decoration: none;
  color: #eedbb8;
  line-height: 5rem;
  display: block;
  border-bottom: 1px solid black;
  transition: 0.6s;
}
.menu a:hover {
  background-color: #eedbb8b6;

  font-weight: 700;

  color: #3f2901;
}
.menuImg {
  width: 50%;
  margin: 15% 0;
}

#toggle {
  display: none;
}
#toggle:checked + .menu {
  left: 0;
}
.appHead {
  margin: 4%;
  font-size: 5rem;
  font-weight: 800;
  color: rgb(78, 39, 2);
  border-radius: 6px/10px;
  box-shadow: 3px 5px 5px;
  animation: glow 1.5s linear infinite;
}

#butt {
  background-color: rgba(168, 107, 50, 0.6);
  width: 17%;
  margin: 4%;
}

.notActive {
  background-color: grey !important;
}

.active:hover {
  background-color: rgb(148, 80, 16) !important;
  box-shadow: 0px 15px 20px rgba(245, 160, 4, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.spin {
  color: rgb(201, 74, 52);
  width: 90px;
  height: 90px;
}

.loader {
  margin-top: 20%;
}

.cardCon {
  background-color: rgba(250, 231, 214, 0.753);
  width: 40%;
  /* height: 200px; */
  margin: 3%;
  padding: 4% 6%;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardButton {
  background-color: rgba(168, 107, 50, 0.6);
  transition: all 0.3s ease 0s;
}
.cardButton:hover {
  background-color: rgb(148, 80, 16);
  box-shadow: 0px 15px 20px rgba(245, 160, 4, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.head {
  font-size: 1.5rem;
}

.bigcard {
  margin: 5% auto;
}
.bgbutton {
  margin: 4%;
}
