body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./sw-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* max-height: 100vh; */
  font-family: "Lexend Tera", sans-serif;
}
